/* Reset de estilos para elementos comuns */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Estiliza a classe .board */
.board {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(252, 3, 3);
}

/* Estiliza a classe .titulo */
.titulo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estiliza a classe .titulo h1 */
.titulo h1 {
  color: #ffffff;
  font-size: 45px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),
              2px 2px 2px rgba(0, 0, 0, 0.3),
              3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Estiliza a classe .titulo h2 */
.titulo h2 {
  color: #ffffff;
  font-size: 29px;
  margin-bottom: 10px;
  
}

/* Estiliza a classe .titulo h3 */
.titulo h3 {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


/* Estiliza a classe .alertAmarelo */
.alertAmarelo {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  animation: alert 2s infinite linear;
}


.popup h2 {
  margin-bottom: 5px;
}

.popup p {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbff15;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 28%;
  max-width: 500px;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 10px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#closeBtn {
  padding: 5px 30px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes alert {
  0% {
    width: 125px;
  }
  40% {
    width: 135px;
  }
  50% {
    bottom: 140px;
  }
  60% {
    bottom: 135px;
  }
  100% {
    bottom: 125px;
  }
}
